body {
  background: #333941;
  font-family: sans-serif;
  font-size: 14px;
}

.SnakeGameApp {
  text-align: center;
}

.SnakeGameApp h2,
.SnakeGameApp h3 {
  text-align: center;
}

.SnakeGameBoard {
  margin: 0 auto;
  border: 3px solid #7bc876;
  display: inline-block;
}
