.NotificationsListError {
  margin: 1em;
  text-align: center;
}

.NotificationsListError-sign-in,
.NotificationsListError-sign-in:hover {
  color: #f36;
}

.NotificationsListError p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.NotificationsListError-title {
  font-size: 16px;
  color: #ebebeb;
}

.NotificationsListError-description {
  padding-top: 0.25em;
  font-size: 12px;
  color: #aaa;
}
