#team-info h1,
#team-info-list {
  margin: 0 0.5em;
}

#team-info h1 {
  padding: 0;
}

#team-info h1 .name {
  color: #ebebeb;
}

#team-info h1 .code {
  font-weight: normal;
  color: #7bc876;
}

#team-info-list {
  list-style-type: none;
  padding: 0.5em 1em 0.5em 0.5em;
  color: #aaa;
}

#team-info-list a {
  display: inline-block;
  width: 100%;
  color: #ebebeb;
}

#team-info-list a:hover {
  color: #7bc876;
}

#team-info-list .activity::before,
#team-info-list li a::before {
  display: inline-block;
  content: '';
  width: 0.9em;
  height: 0.9em;
  margin-right: 0.5em;
  border-radius: 0.1em;
}

#team-info-list .translated a::before {
  background-color: #7bc876;
}

#team-info-list .fuzzy a::before {
  background-color: #fed271;
}

#team-info-list .warnings a::before {
  background-color: #ffa10f;
}

#team-info-list .errors a::before {
  background-color: #f36;
}

#team-info-list .missing a::before {
  background-color: #4d5967;
}

#team-info-list .unreviewed a::before {
  height: 1em;
  background: center / contain no-repeat url('../img/lightbulb-blue.svg');
}

#team-info-list .title {
  margin-right: 1em;
  text-transform: uppercase;
}

#team-info-list .count,
#team-info-list .text {
  float: right;
}
