#tour-dialog {
  position: relative;
  width: 950px;
  height: 400px;
  margin: 10% auto 0 auto;
  padding: 2em;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 3px rgba(0, 0, 0, 0.05);
}

.above {
  margin-bottom: 2em;
}

h1 {
  display: inline;
  font-size: 1.5em;
  font-weight: normal;
}
