nav {
  display: inline-block;
  width: 190px;
  vertical-align: top;
  margin-right: 30px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  font-size: 1.1em;
  padding: 16px;
}

nav li:hover,
nav li.active {
  color: #0a84ff;
  cursor: pointer;
}

main {
  display: inline-block;
  width: 715px;
}

main h2 {
  margin: 0;
  padding-top: 16px;
  font-size: 2em;
  font-weight: normal;
}

main .image.right {
  float: right;
  height: 280px;
}

main .image.bottom {
  height: 150px;
  text-align: center;
}

main .image img {
  max-height: 100%;
}

.below {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

.below button {
  float: right;
  padding: 10px 20px;
  background-color: #0060df;
  border: 1px solid transparent;
  border-radius: 2px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.below button:hover {
  background-color: #003eaa;
}
