body {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 300;
}

nav li {
  display: inline-block;
}

nav li:not(:last-child) {
  margin: 0 1em;
}

main {
  max-width: 37.5em;
  margin: 0 auto;
  line-height: 1.5em;
}

section:not(#heading) {
  margin-bottom: 5em;
}

section > div {
  margin-top: 1em;
}

section aside {
  margin: 0.3em 0 0 0.3em;
  font-style: italic;
  color: #888;
}
