/* General */

body {
  min-width: 350px;
  max-width: 500px;
  background-color: #272A2F;
  color: #ebebeb;
}

a {
  color: #F36;
  text-decoration: none;
}

a,
.pointer
{
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.timeago,
.message
{
  color: #888;
}

.timeago {
  text-align: right;
}

#notification-list,
#error,
#team-info
{
  text-align: center;
}

.bottom-link {
  display: block;
  padding: 0.5em;
  border-top: 1px solid #525a65;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

.bottom-link:hover {
  background-color: #3f4752;
  color: #fff;
}

/* Notifications list */

#notification-list {
  list-style: none;
  text-align: center;
  max-height: 280px;
  overflow: auto;
  margin: 0;
  padding: 0;
}

#notification-list li {
  padding: 0.5em 1em;
}

#notification-list li.unread {
  background-color: #333941;
  border-bottom: 1px solid transparent;
}

#notification-list li.read:not(:last-child) {
  border-bottom: 1px solid #333941;
}

#notification-list li:hover {
  background-color: #3f4752;
}

/* Empty list */

#error {
  margin: 1em;
}

#error p
{
  text-align: center;
  margin: 0;
  padding: 0;
}

#error .description
{
  padding-top: 0.25em;
  font-size: 12px;
  color: #aaa;
}

#error .title
{
  font-size: 16px;
  color: #ebebeb;
}

/* Team info */
#team-info h1,
#team-info ul
{
  margin: 0 0.5em;
}
#team-info h1 {
  padding: 0;
}
#team-info h1 .name {
  color: #ebebeb;
}
#team-info h1 .code {
  color: #7bc876;
  font-weight: normal;
}
#team-info ul {
  padding: 0.5em 1em 0.5em 0.5em;
  list-style-type: none;
  color: #aaa;
}
#team-info li::before {
  display: inline-block;
  content: '';
  border-radius: 0.1em;
  width: 0.7em;
  height: 0.7em;
  margin-right: 0.5em;
}
#team-info li.translated::before {
  background-color: #7bc876;
}
#team-info li.suggested::before {
  background-color: #4fc4f6;
}
#team-info li.fuzzy::before {
  background-color: #fed271;
}
#team-info li.missing::before {
  background-color: #4d5967;
}
#team-info li .title {
  text-transform: uppercase;
}
#team-info li .count,
#team-info li .text
{
  float: right;
}
