.TeamInfo h1,
.TeamInfo-list {
  margin: 0 0.5em;
}

.TeamInfo h1 {
  padding: 0;
}

.TeamInfo-name {
  font-weight: bold;
  color: #ebebeb;
}

.TeamInfo-code {
  font-weight: normal;
  color: #7bc876;
}

.TeamInfo-list {
  list-style-type: none;
  padding: 0.5em 1em 0.5em 0.5em;
  color: #aaa;
}

.TeamInfo-list .link {
  display: inline-block;
  width: 100%;
  color: #ebebeb;
}

.TeamInfo-list .link:hover {
  color: #7bc876;
}
