on:
  push:
    branches:
      - master
    tags:
      - 'v*'
  pull_request:
  workflow_dispatch: # allows to be run manually

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
      - name: Cache installed dependencies
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            **/node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/yarn.lock') }}
      - name: Install dependencies
        run: make prepare_in_docker
      - name: Build add-on
        run: make build_in_docker
      - name: Save built add-on
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist
          retention-days: 30
      - name: Upload code coverage to Codecov
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        run: make codecov_in_docker
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - name: Build add-on (development version)
        run: make build_in_docker
        env:
          MODE: development
      - name: Save built add-on (development version)
        uses: actions/upload-artifact@v3
        with:
          name: dist-development
          path: dist
          retention-days: 30
  release:
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    runs-on: ubuntu-20.04
    needs: build
    steps:
      - name: Download built add-on for release
        uses: actions/download-artifact@v3
        with:
          name: dist
          path: dist
      - name: Get git information
        id: git_info
        run: echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
      - name: Prepare release packages
        run: |
          cp ./dist/web-ext/mozilla/pontoon_add-on-*.zip "./pontoon_add-on-${{ steps.git_info.outputs.SOURCE_TAG }}-mozilla.zip"
          cp ./dist/web-ext/chrome/pontoon_add-on-*.zip "./pontoon_add-on-${{ steps.git_info.outputs.SOURCE_TAG }}-chrome.zip"
          cp ./dist/privacy-policy.html "./privacy-policy-${{ steps.git_info.outputs.SOURCE_TAG }}.html"
      - name: Create GitHub release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            pontoon_add-on-${{ steps.git_info.outputs.SOURCE_TAG }}-mozilla.zip
            pontoon_add-on-${{ steps.git_info.outputs.SOURCE_TAG }}-chrome.zip
            privacy-policy-${{ steps.git_info.outputs.SOURCE_TAG }}.html
          fail_on_unmatched_files: true
          draft: false
          prerelease: false
