on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch: # allows to be run manually

jobs:
  prepare:
    runs-on: ubuntu-20.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Cache installed dependencies
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            **/node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/yarn.lock') }}
      - name: Install dependencies
        run: make prepare_in_docker
      - name: Upload prepared project to artifacts
        uses: actions/upload-artifact@v3
        with:
          name: prepared_project
          path: '*'
  build:
    runs-on: ubuntu-20.04
    needs: prepare
    steps:
      - name: Download prepared project from artifacts
        uses: actions/download-artifact@v3
        with:
          name: prepared_project
      - name: Build add-on
        run: make build_in_docker
      - name: Save built add-on
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist
          retention-days: 30
      - name: Upload code coverage to Codecov
        run: make codecov_in_docker
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  build-development:
    runs-on: ubuntu-20.04
    needs: prepare
    steps:
      - name: Download prepared project from artifacts
        uses: actions/download-artifact@v3
        with:
          name: prepared_project
      - name: Build add-on (development version)
        run: make build_in_docker
        env:
          MODE: development
      - name: Save built add-on (development version)
        uses: actions/upload-artifact@v3
        with:
          name: dist-development
          path: dist
          retention-days: 30
