name: Build

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch: # allows to be run manually
  workflow_call: # when called from another workflow
    inputs:
      checkout_ref:
        required: true
        type: string

env:
  PRODUCTION_ARTIFACT_NAME: dist
  DEVELOPMENT_ARTIFACT_NAME: dist-development

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.checkout_ref }}
      - name: Cache installed dependencies
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('package-lock.json') }}
      - name: Install dependencies
        run: make prepare_in_container
      - name: Build add-on (development version)
        run: make build_in_container
        env:
          MODE: development
      - name: Save built add-on (development version)
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.DEVELOPMENT_ARTIFACT_NAME }}
          path: dist
          retention-days: 30
      - name: Build add-on
        run: make build_in_container
      - name: Save built add-on
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.PRODUCTION_ARTIFACT_NAME }}
          path: dist
          retention-days: 30
      - name: Run tests
        run: make test_in_container
      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v3
    outputs:
      production_artifact_name: ${{ env.PRODUCTION_ARTIFACT_NAME }}
  generated_code_consistency:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.checkout_ref }}
      - name: Cache installed dependencies
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('package-lock.json') }}
      - name: Install dependencies
        run: make prepare_in_container
      - name: Generate GraphQL code
        run: make graphql_generate
      - name: Check changes in generated code
        run: |
          git status
          git diff
          UNCOMMITTED_CHANGES="$(git status --porcelain)"
          if [ -n "${UNCOMMITTED_CHANGES}" ]; then
            echo 'Found uncommitted changes' >&2
            exit 1
          fi
