on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch: # allows to be run manually

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Cache installed dependencies
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            **/node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/yarn.lock') }}
      - name: Install dependencies
        run: make prepare_in_docker
      - name: Build add-on
        run: make build_in_docker
      - name: Save built add-on
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist
          retention-days: 30
      - name: Run the tests
        run: yarn run test
      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          name: pontoon-addon-codecov
          verbose: true
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: bash <(curl -s https://codecov.io/bash) -Z
